---
const { href, class: className } = Astro.props
---

<a
  href={href}
  target="_blank"
  rel="noopener"
  class={`flex items-center justify-center gap-x-2 py-2 px-4 rounded-full text-sm font-medium transition-all duration-300 hover:scale-105 hover:shadow-lg ${className}`}
>
  <slot />
</a>
